{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bienvenido</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}" />
    <link rel="stylesheet" href="{% static 'css/menu.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body>
    <div class="hola">
      <i class="icon-menu burger-button" id="icon-burger"></i>
      <header class="header">
        <div class="container">
          <div class="school"><i class="icon-books"></i>Silabuz</div>
          <nav class="menu">
            <ol>
              {% if user.first_name %}
              <li class="link">
                <a href="#">Registrar<i class="icon-down sub-icon"></i></a>
                <ol class="sub-menu">
                  <li><a href="">Portafolio</a></li>
                </ol>
              </li>
              <li class="link">
                <a class="link-buttom" href="">Cerrar Sesión</a>
              </li>
              {% else %}
              <li class="link">
                <a href="">Portafolios</a>
              </li>
              <li class="link">
                <a class="link-buttom" href="{% url 'accounts/login' %}"
                  >Login</a
                >
              </li>
              {% endif %}
            </ol>
          </nav>
        </div>
      </header>
    </div>
    <div class="container">{% block content %} {% endblock %}</div>
  </body>
</html>
